@model KWH.Common.ViewModel.CandidateViewModel
@{
    ViewData["Title"] = "AddEditCandidateData";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string ClassRollNo = string.Empty;
    string CandidateName = string.Empty;
    string MobileNo = string.Empty;
    string AlternateNo = string.Empty;
    string EmailId = string.Empty;
    int CategoryId = 0;
    string ICardNumber = string.Empty;
    string GRNumber = string.Empty;
    string RFId = string.Empty;
    int ClassId = 0;
    int SectionId = 0;
    int CandidateId = 0;
    string ImpageUrl = string.Empty;

    var SectionList = @ViewBag.SectionList;

    if (Model != null && Model.CandidateId > 0)
    {
        CandidateId = Model.CandidateId;
        ClassRollNo = Model.ClassRollNo;
        CandidateName = Model.CandidateName;
        MobileNo = Model.MobileNo;
        AlternateNo = Model.AlternateNo;
        EmailId = Model.EmailId;
        CategoryId = Model.CategoryId;
        ICardNumber = Model.ICardNumber;
        GRNumber = Model.GRNumber;
        RFId = Model.RFId;
        ClassId = Model.ClassId;
        SectionId = Model.SectionId;
        ImpageUrl = Model.ImpageUrl;
    }
}


<script src="~/js/KWHApp/Admin/candidate.js"></script>


<div class="container-fluid px-4">
    <div class="mb-4" style="margin-top:10px">
        <div class="admin-users">
            <div class="container-fluid">
                <div class="mb-12">
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item"><a href="javascript:void()">Home</a></li>
                        <li class="breadcrumb-item active">Add/Edit Candidate</li>
                    </ol>
                    <div class="mb-4">
                        <div class="backAdminBtn ">
                            <a asp-action="GetAllCandidateInfoData" class="btn light-yellow"><img src="~/Content/images/icons/back-button.svg" alt="back-button" /><span>Back</span></a>
                        </div>
                    </div>
                </div>


                <!-- start Add New Member User -->



                <div>
                    <div class="tab-wrapper">

                        <div class="tab-content">
                            <div class="userForm" id="accountInfoForm">
                                <div class="userTab card mb-4">
                                    <div class="card-header">
                                        <h4>Add/Edit Candidate</h4>

                                    </div>
                                    <div class="userTabInner" style="padding-bottom:35px;">

                                        <div class="row">

                                            <div class="col-12">
                                                <div class="row" style="display: flex;margin:0 -6px;flex-flow:wrap;">
                                                    <div class="col-4" style="width:268px;">
                                                        <div class="form-group">
                                                            <label>Class Roll No.</label>
                                                            <input class="form-control" type="text" placeholder="Class Roll No." value="@ClassRollNo" name="ClassRollNo" id="txtClassRollNo" />

                                                        </div>
                                                    </div>
                                                    <div class="col-4" style="width:268px;">
                                                        <div class="form-group">
                                                            <label>Candidate Name</label>
                                                            <input class="form-control" type="text" placeholder="Candidate Name" value="@CandidateName" name="CandidateName" id="txtCandidateName" />
                                                        </div>
                                                    </div>



                                                    <div class="col-4" style="width:268px;">
                                                        <div class="form-group">
                                                            <label>Mobile No.</label>
                                                            <input class="form-control" type="text" placeholder="Mobile No" value="@MobileNo" name="MobileNo" id="txtMobileNo" />
                                                        </div>
                                                    </div>
                                                    <div class="col-4" style="width:268px;">
                                                        <div class="form-group">
                                                            <label>Alternate No.</label>
                                                            <input class="form-control" type="text" placeholder="Alternate No" value="@AlternateNo" name="AlternateNo" id="txtAlternateNo" />
                                                        </div>
                                                    </div>
                                                    <div class="col-4" style="width:268px;">
                                                        <div class="form-group">
                                                            <label>EmailId</label>
                                                            <input class="form-control" type="text" placeholder="EmailId" value="@EmailId" name="EmailId" id="txtEmailId" />
                                                        </div>
                                                    </div>
                                                    <div class="col-4" style="width:268px;">
                                                        <div class="form-group">
                                                            <label>Category</label>
                                                            <select class="form-control" asp-items="@(new SelectList(@ViewBag.CategoryList,"value","text", selectedValue:CategoryId))" name="CategoryId" id="ddlCategoryId">
                                                                <option value="0">--Select Category--</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-4" style="width:268px;">
                                                        <div class="form-group">
                                                            <label>ICard Number</label>
                                                            <input class="form-control" type="text" placeholder="ICard Number" value="@ICardNumber" name="ICardNumber" id="txtICardNumber" />
                                                        </div>
                                                    </div>
                                                    <div class="col-4" style="width:268px;">
                                                        <div class="form-group">
                                                            <label>GR Number</label>
                                                            <input class="form-control" type="text" placeholder="GR Number" name="GRNumber" value="@GRNumber" id="txtGRNumber" />
                                                        </div>
                                                    </div>
                                                    <div class="col-4" style="width:268px;">
                                                        <div class="form-group">
                                                            <label>RFId</label>
                                                            <input class="form-control" type="text" placeholder="RFId" value="@RFId" name="RFId" id="txtRFId" />
                                                        </div>
                                                    </div>
                                                    <div class="col-4" style="width:268px;">
                                                        <div class="form-group">
                                                            <label>Class</label>
                                                            <select class="form-control" asp-items="@(new SelectList(@ViewBag.ClassList,"value","text", selectedValue:ClassId))" name="ClassId" id="ddlClassId">
                                                                <option value="0">--Select Class--</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-4" style="width:268px;">
                                                        <div class="form-group">
                                                            <label>Section</label>
                                                            @if (SectionList != null)
                                                            {
                                                                <select class="form-control" asp-items="@(new SelectList(@ViewBag.SectionList,"value","text", selectedValue:SectionId))" name="SectionId" id="ddlSectionId">
                                                                    <option value="0">--Select Section--</option>
                                                                </select>
                                                            }
                                                            else
                                                            {
                                                                <select class="form-control" name="SectionId" id="ddlSectionId">
                                                                    <option value="0">--Select Section--</option>
                                                                </select>
                                                            }

                                                        </div>
                                                    </div>

                                                    <div class="col-4" style="width:268px;">
                                                        <div class="form-group">
                                                            <div class="rightCont">
                                                                <input type="hidden" id="hdnCandidateId" value="@CandidateId" />
                                                                <button type="submit" style="margin-top:22px;" id="btnSubmit" class="button-42">Update</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Start pts light box -->

        </div>

    </div>
</div>


<style>
    .button-42 {
        background-color: initial;
        background-image: linear-gradient(#42A1EC, #0070C9);
        border-radius: 6px;
        box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
        height: 40px;
        line-height: 40px;
        outline: 0;
        overflow: hidden;
        padding: 0 20px;
        pointer-events: auto;
        position: relative;
        text-align: center;
        touch-action: manipulation;
        user-select: none;
        -webkit-user-select: none;
        vertical-align: top;
        white-space: nowrap;
        width: 50%;
        z-index: 9;
        border: 0;
        transition: box-shadow .2s;
    }

        .button-42:hover {
            box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
        }
</style>
